@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Updock&display=swap');
body{
    font-family: 'Julius Sans One', sans-serif;
}
header{
    width:100%;
    height: 600px; 
}
#title{
    width:100%;
    height: 400px;
    background: url(../images/fondo.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.item-title h1{
    font-size: 4.5rem;
}
.item-title{
    color: rgba(124, 101, 101, 0.63);
}
nav div a{
    color: #ffffff !important;
}
.menu{   
    background-color: black;
}
.information{
    width: 100%;
    height: 1200px;
    margin-top: 100px;
}
.information-item-img img{
    height: 50%;
    width: 75%;
}
.item-main img{ 
    width: 100%;
}
.item-main1 img{ 
    width: 100%;
    height: 25%;
}
.item-main-3 {
    color: black !important;
    
}
main{
    height: 900px;
    width: 100%;
}
footer{
    background-color: black;
    color: white;
}